services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: admin
      MYSQL_USER: admin
      MYSQL_PASSWORD: adminpassword
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -u root --password=rootpassword"]
      interval: 5s
      timeout: 5s
      retries: 20
      start_period: 10s

  backend:
    build: ./backend
    restart: always
    depends_on:
      db:
        condition: service_healthy
    environment:
      DATABASE_URL: "mysql://admin:adminpassword@db:3306/admin"
      SHADOW_DATABASE_URL: "mysql://admin:adminpassword@db:3306/prisma_shadow"
      JWT_SECRET: "super-secret-key"
      PORT: 3000
    ports:
      - "3000:3000"
      - "5555:5555"
    volumes:
      - ./backend:/app
      - /app/node_modules # <--- ВАЖНО: Это лечит ошибку Exec format error
    command: sh -c "sleep 5 && npx prisma db push --accept-data-loss && node prisma/seed.js && npm start"

  frontend:
    build: ./frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "5173:5173"
    environment:
      - CHOKIDAR_USEPOLLING=true
    volumes:
      - ./frontend:/app
      - /app/node_modules # <--- ВАЖНО: Это лечит ошибку vite not found
    command: ["npm", "run", "dev", "--", "--host", "0.0.0.0"]

volumes:
  db_data: